<%= render :partial => "shared/header" %>

<h1>Restaurants in <%= @city.name %></h1>

<% @city.restro_addresses.each do |addr| %>
    <%= link_to addr.restro.name, home_path(addr.restro.id) %><br/>
    <%= addr.location.name %> &nbsp;&nbsp; > &nbsp;&nbsp; <%= addr.addr %>, <%= link_to addr.city.name, city_home_path(addr.city.id) %><br/>
    <% addr.restro.foods.each do |food| %>
        <%= link_to food.name, food_home_path(food.id) %>    &nbsp;&nbsp;
    <% end %>
    <br/><br/>
<% end %>