<%= render :partial => "shared/header" %>

<h3><%= @restro.name %></h3>
<h5>Rating :  <%= sprintf("%.2f", @restro.ratings.sum(:rating).to_f/@restro.ratings.count.to_f) %> </h5>
<%= link_to @restro.restro_address.location.name, location_home_path(@restro.restro_address.location.id) %> &nbsp;&nbsp; >
<% @restro.foods.each do |food| %>
    &nbsp; &nbsp;<%= link_to food.name, food_home_path(food.id) %>
<% end %>
<br/> <br/>
<%= @restro.restro_address.addr %>,
<%= link_to @restro.restro_address.city.name, city_home_path(@restro.restro_address.city.id)  %>

<hr/> <br/>

<%= render :partial => 'shared/comments' %>

<h2>Share your Comments</h2>
<div id="flash_error" style="color:red;display:none"></div>  <br/>

<%= render :partial => 'shared/form' %>

